<div class="content">
  <!--[if lt IE 8]>
  <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a
      href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
  <![endif]-->
  <div class="page-header">
    <h1><b><%= t 'jag.info.title' %></b></h1>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-10" style="text-align: justify">
        <div class="jumbotron">
          <h3>Na czym to polega</h3>
          <p>Przez „Czystszą” do Pracy to akcja Stowarzyszenia Polski Ruch Czystszej Produkcji, umożliwiająca:</p>
          <ul>
            <li>społecznościową wymianę informacji o pojawiających się w sieci ofertach pracy, dotyczących dwóch
              dziedzin: ochrony środowiska oraz społecznej odpowiedzialności biznesu (CSR)
            </li>
            </li>
            <li>anonimowe przedstawienie swojej kandydatury potencjalnym pracodawcom (opisując wykształcenie,
              doświadczenie, kompetencje itp.).
            </li>
          </ul>
          <h3>„Praca szuka człowieka”</h3>
          <p>W tym dziale zamieszczamy linki do ogłoszeń znalezione w sieci, które są przysyłane przez członków
            społeczności
            akcji.
            Zamieszczane ogłoszenia nie są przez Stowarzyszenie weryfikowane, stąd nie możemy odpowiadać za ich
            rzetelność.
          </p>
          <h3>„Człowiek szuka pracy”</h3>
          <p>W przypadku Osób, które przyślą do nas anonimowe informacje o sobie (wg pól formularza) - zamieścimy je na
            stronie
            akcji, dając potencjalnemu pracodawcy okazję do wyrażenia zainteresowania daną Osobą. Informacje wpisane
            przez
            Pracodawcę w krótkiej ankiecie przesyłamy następnie do danej Osoby poszukującej pracy - pozostawiając Jej
            decyzję,
            czy ostatecznie skontaktuje się z danym Pracodawcą, czy też nie.
          </p>
          <h3>Chcesz pomóc? – zgłoś się!</h3>
          <p>Jeśli chcesz pomóc nam, przysyłając informacje o nowych ofertach pochodzących z jednego, wybranego przez
            Ciebie źródła/portalu, skontaktuj się z nami pisząc e-mail na adres 
            <a href="mailto:biuro@cp.org.pl">biuro@cp.org.pl</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>