<div class="intro-header">
  <div class="intro-message">
    <h1>Przez 'Czystsza' do Pracy</h1>
    <h3>some text will be there</h3>
    <hr class="intro-divider">
    <ul class="list-inline intro-social-buttons">
      <li class="btn btn-default btn-lg" style="text-decoration: none;">
        <%= link_to "Człowiek szuka pracy", controller: 'adverts' %>
      </li>
      <li class="btn btn-default btn-lg">
        <%= link_to "Praca szuka człowieka", controller: 'profiles' %>
      </li>
      <li class="btn btn-default btn-lg">
        <%= link_to "O co chodzi?", "info" %>
      </li>
    </ul>
  </div>
</div>