// Place all the styles related to the Adverts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$break-small: 800px;
$break-large: 1200px;

@import "bootstrap";

.panel-body {
  overflow: hidden;

  @media (max-width: $break-small) {
    overflow: scroll;
  }
  @media (min-width: $break-large) {

  }
}