/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 *= require rails_bootstrap_forms
 */

* {
    margin: 0;
    padding: 0;
}

html, body {
    background: #bfc25f;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

#header {
    margin-bottom: 52px;
    background: #186c6c;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}

body > .container {
    padding: 60px 15px 0;
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: asset-url('glyphicons-halflings-regular.eot');
  src: asset-url('glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
  asset-url('glyphicons-halflings-regular.woff') format('woff'),
  asset-url('glyphicons-halflings-regular.ttf') format('truetype'),
  asset-url('glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

.container .text-muted {
    margin: 20px 0;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

a {
    color: black;
}

a:focus {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}
code {
    font-size: 80%;
}

.form {
    text-align: center;
    margin: 0 auto 10px;
    padding: 20px 0 10px 0;
    font-size: 16px;
    width: 300px;
}

.jumbotron {
    margin-bottom: 0px;
}

.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
    border-top: 0;
}

.table-user-information > tbody > tr > td {
    border-top: 0;
}

.toppad {
    margin-top: 20px;
}

.pull-right > .row {
    display: flex;
    margin-bottom: 10px;
    margin-right: 5px;
}
